
.lista-notas {
  background-color: var(--fundo);
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 24px;
  padding-top: 24px;
  height: 100%;
  min-width:50%;
}
.lista-notas_item {
  margin: 12px;
  max-width: 200px;
  display: inline;
}
