.listaDeCategorias{
  display: flex;
  width: 100%;
}

.listaDeCategorias_lista{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.listaDeCategorias_input{
  height: 30px;
  margin-right: 10px;
}
